<form action="#" method="post" class="js-chat d-flex flex-column">
    <label for="email">Email*:</label>
    <input class="js-chat__email form-control mb-3" type="email" name="email" id="email" required />

    <label for="message">Message:</label>
    <textarea class="js-chat__textarea form-control mb-3" name="message" id="message" cols="15" rows="4"></textarea>

    <button class="js-chat__send mb-3 btn btn-primary">Send</button>

    <span>Chat:</span>
    <div class="js-chat__messages border border-info rounded p-2" style="height: 300px; overflow-y: auto;">

    </div>
</form>