<% var data = data || {} %>

<section class="ec-grid">
    <div class="col-span-full">
        <h1 class="text-xl mb-3 text-center">Login</h1>

        <form action="/login" method="post" autocomplete="off">
            <div class="mb-3">
                <label for="name">Name:</label>
                <input id="name" type="text" name="name" required>
            </div>
            <button class="py-1 px-4 rounded text-sm bg-blue-800 text-white hover:bg-blue-600">Login</button>
        </form>
    </div>
</section>