<% var data = data || {} %>

<section class="ec-grid">
    <div class="col-span-full">
        <h1 class="text-xl" id="js-logout">
            See you, <%= data.name %>!
        </h1>
    </div>
</section>